<div class="row channels index">
  <div class="col-sm-8">
    <h2 class="section-header">Channels <% if current_user.admin %> <%= link_to 'New Channel', new_channel_path, { :class => "btn btn-sm btn-link pull-right"} %><% end %></h2>
    <table class="table table-striped">
      <tbody>
        <% @channels.each do |c| %>
        <tr>
          <td><%= link_to c.channel_name, c %> <% if current_user.admin %><span class="badge"><%= c.recipients.size %></span><% end %></td>
          <td>
            <% if current_user.admin %>
            <%= link_to  'Edit', edit_channel_path(c)%>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>