//
// Buttons
// --------------------------------------------------

.btn-lg,
.btn-group-lg > .btn,
.btn-xs,
.btn-group-xs > .btn {
  border-radius: $border-radius-base;
}

.btn:active,
.btn.active {
  box-shadow: none;
}

.btn-default:hover,
.btn-default:active {
  background: $gray-lightest;
}

.btn-secondary {
  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}

.btn-secondary-fill {
  @include button-variant($btn-secondary-fill-color, $btn-secondary-fill-bg, $btn-secondary-fill-border);
}

// buttons in hero area
.btn-hero {
  @include button-variant($btn-hero-color, $btn-hero-bg, $btn-hero-border);
  font-weight: 300;
  text-transform: uppercase;

  .jumbotron-b &.matrix-submit {
    margin-left: $padding-large-horizontal;
  }
}

.btn-hero-secondary {
  @include button-variant($btn-hero-secondary-color, $btn-hero-secondary-bg, $btn-hero-secondary-border);
}

.btn-wide {
  padding-right: $padding-large-horizontal * 6;
  padding-left: $padding-large-horizontal * 6;

  @media (max-width: $screen-sm-max) {
    padding-right: $padding-large-horizontal * 4;
    padding-left: $padding-large-horizontal * 4;
  }
}

.btn-view-larger-table {
  i {
    margin-right: 10px;
  }
}

.adv-search {
  margin-top: ($padding-small-vertical - 1);
}

.stacking-card-btn {
  display: block;
  font-size: $font-size-medium;
  // margin: -20px auto 20px;
}

.trending-category-btn {
  @include button-variant($gray-darker, $white, $gray-light);
  float: left;
  padding-top: $padding-large-horizontal;
  padding-bottom: $padding-large-horizontal;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: $font-size-base;
}

.illustration-promos .btn {
  display: block;
  padding-right: $padding-large-horizontal * 2;
  padding-left: $padding-large-horizontal * 2;
  margin: $line-height-computed auto;
  color: $white;
  border-color: $white;

  @media (max-width: $screen-md) {
    padding-right: $padding-large-horizontal;
    padding-left: $padding-large-horizontal;
  }
}

.illustration-top .btn {
  background-color: $brand-secondary;
  &:hover {
    background-color: darken($brand-secondary, 5%);
  }
}
.illustration-left .btn {
  background-color: $brand-secondary-light;
  &:hover {
    background-color: darken($brand-secondary-light, 5%);
  }
}

.illustration-right .btn {
  background-color: #e8bb57;
  &:hover {
    background-color: darken(#e8bb57, 5%);
  }
}

.lang-switch {
  display: inline-block;
  font-family: $font-family-sans-serif;
}

.btn.btn-matrix {
  padding: 0;
  background: transparent;
  border-radius: 0;
  font-size: 1em;
  line-height: 1;
  &:hover,
  &:focus {
    color: $gray-lightest;
  }
}

.option-buttons {
  text-align: center;
}

.submit-form-container {
  border-top: 1px solid #e8e8e8;
  text-align: right;
  padding: 10px 0;
}

.btn-submit {
  padding-right: 4em;
  padding-left: 4em;
}

.filters {
  .bootstrap-select {
    @media (max-width: $screen-xs-max) {
      width: 100% !important;
      .btn {
        border-right: 0;
        border-bottom: 0;
        border-left: 0;
        border-radius: 0;
        border-color: $gray-lightest;
      }
      &.open .dropdown-toggle {
        background: $gray-lightest;
        box-shadow: none;
      }
    }
  }
  .btn {
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      color: $gray-light;
    }
  }
}

.btn--refine-search {
  padding-top: 15px !important;
  padding-bottom: 14px;
}

.btn--header, {
  z-index: 10;
  position: relative;
}
