.no-top-margin { margin-top: 0; }

.mt-xs { margin-top: 5px;}

.margin-bottom-sm, .mb-sm { margin-bottom: 10px; }

.margin-bottom-lg, .mb-lg { margin-bottom: 20px; }

.margin-bottom-xl, .mb-xl { margin-bottom: 30px; }

.border-left { border-left: solid 1px $gray-light; }

.no-margin { margin: 0; }

.no-padding-right { padding-right: 0; }

.clear { clear: both; }