loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $zindex-loading;

  &.highcharts-loading {
    position: static;

    .loading-dots {
      padding-top: 50px;
      opacity: 1;
    }
  }

  &.inline {
    position: static;

    .loading-dots {
      padding-top: 0;
    }

    .loading-mask {
      width: auto;
      height: auto;
    }
  }

  .loading-mask {
    position: absolute;
    opacity: 0.5;
    background-color: #fff;
    width: 100%;
    height: 100%;
  }

  .loading-dots {
    padding-top: 200px;
    margin: 0 auto;
    width: 70px;
    text-align: center;
    opacity: 0.5;

    > div {
      width: 18px;
      height: 18px;
      background-color: $loading-indicator-color;

      border-radius: 100%;
      display: inline-block;
      animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    .loading-dot1 {
      animation-delay: -0.32s;
    }

    .loading-dot2 {
      animation-delay: -0.16s;
    }
  }

  @keyframes sk-bouncedelay {
    0%, 80%, 100% {
      transform: scale(0);
    } 40% {
        transform: scale(1.0);
      }
  }
}

.loading-container {
  position: relative;
}
