.section-divider {
  border-top: $border-dash;
  padding-top: 14px;
}

section {
  &.social-share {
    padding-top: 14px;
    margin-bottom: 14px;

    .list-inline {
      margin-bottom: 0;
    }
  }
}

.video-background {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -10;
}

.jumbotron-video {
  background-color: transparent;
  height: 660px;
  position: relative;
}

.card-cell {
  width: calc( ( 100% - 20px ) / 3 );
  margin-right: 10px;
}
.card-carousel {
  /* smaller, dark, rounded square */
  .flickity-prev-next-button {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: #333;
  }
  .flickity-prev-next-button:hover {
    background: #F90;
  }
  /* arrow color */
  .flickity-prev-next-button .arrow {
    fill: white;
  }
  .flickity-prev-next-button.no-svg {
    color: white;
  }
  /* position outside */
  .flickity-prev-next-button.previous {
    left: -40px;
  }
  .flickity-prev-next-button.next {
    right: -40px;
  }
}

/*----- Superhero Styles -----*/
figure {
  .superhero-image .image {
    height: auto;
    img {
      display: block;
      width: 100%;
      padding: 0;
      vertical-align: bottom;
    }
  }
  .superhero-video {
    .social {
      margin: -80px 0 80px;
    }
  }
  .superhero-infographic .image {
    overflow: hidden;
    height: 500px;
    img.vert-infographic {
      width:100%
    }
  }
}

/*----- Site Preview -----*/
iframe {
  &.site-preview, &.iframe-misc {
    width: 100%;
    height: 800px;
  }
}

/*----- Shared marketing styles ----*/
.marketing-promo {
  display: none;
  .alert {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3000;
    width: 282px;
    margin-right: 20px;
    background-color: #fff;
    @include box-shadow(2px 2px 4px 1px $gray-lighter);
  }
  .alert-dismissible {
    padding-right: 15px;
    .close {
      top: -9px;
      right: 1px;
    }
  }
  figure {
    width: 250px;
    margin-right: 0;
  }
}

.illustration-section {
  padding-top: $line-height-computed * 2;
  padding-bottom: $line-height-computed* 2;
  background-color: $gray-lightest;
  @media (max-width: $screen-xs-max) {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.illustration-promos {
  h2 {
    font-family: $font-family-serif;
    min-height: 70px;
    @media (max-width: $screen-md) {
      min-height: 100px;
    }
  }
  h3 {
    display: inline-block;
    padding: $padding-base-horizontal;
    font-style: italic;
    font-weight: 500;
    @media (max-width: $screen-md)  {
      font-size: 1.2em;
    }
  }
  p  {
    font-size: 1.2em;
    @media (min-width: $screen-lg) {
      min-height: 77px;
    }
    @media (max-width: $screen-md) {
      min-height: 126px;
    }
  }
  hr { border-top: 3px solid transparentize(#fff, 0.5); }
}

.illustration {
  color: #fff;
  img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 200px;
    margin: 0 auto;
  }
  @media (min-width: $screen-md) {
    min-height: 640px;
  }
  @media (max-width: $screen-md) {
    img {
      max-height: 140px;
    }
  }
}
.illustration-top,
.illustration-left {
  padding-bottom: $padding-large-vertical;

}
.illustration-top {
  color: $brand-secondary;
  padding: 15px;
  border: 2px solid transparentize($brand-secondary, 0.5);
  @media (min-width: $screen-sm) {
    margin-top: $padding-large-vertical * 6;
  }
  @media (min-width: $screen-md) {
    min-height: 0;
  }
  .illustration-promos & hr {
    border-top: 3px solid transparentize($brand-secondary, 0.5);
  }
  h3 {
    color: #8cc9cf;
    padding: 0;
    margin-bottom: 0;
  }
}

.illustration-left {
  background-color: #8cc9cf;
  h3 { background-color: $brand-secondary; }
}
.illustration-right {
  padding-bottom: $padding-large-vertical;
  background-color: #e8bb57;
  h3 { background-color: #d8a534; }
}

.index {
  ol {
    padding-left: 0;
  }
}