
.pagination-bar {
  height:60px;
  border-top: solid 2px $gray-lighter;
  button:hover,
  button:focus {
    text-decoration: none;
  }
  .filter-option {
    color: $text-color;
  }
  @media (max-width: $screen-xs-max) {
    height: auto;
  }
  .bs-caret {
    color: $brand-secondary;
  }
  .quantity,
  .page-list {
    padding-top: 12px;
    padding-bottom: 12px;
    label,
    select {
      margin-right: 7px;
      font-weight: normal;
      &.pull-right-xs {
        @media (max-width: $screen-xs) {
          float:right;
        }
      }
    }
    .pagination {
      margin: 0;
    }
  }
  .page-list {
    margin-left: 20px;
  }
  .quantity {
    @media (max-width: $screen-xs-max) {
      padding-bottom: 0;
    }
  }
  .nav-pills {
    margin-top: -3px;
    margin-right: 15px;
    @media (min-width: $screen-sm) and (max-width: $screen-xs-max) {
      text-align: center;
      & > li {
        float:none;
        display: inline-block;
      }
      margin-top: -4px;
      margin-right: 10px;
    }
  }
  nav {
    display: inline-block;
  }
}
.no-border .pagination-bar {
  border:none;
}

.no-border {
  .quantity,
  .page-list {
    padding: 0;
  }
}
