body {
  word-wrap: break-word;
  overflow-x: hidden;
  @media (max-width: $screen-xs-max) {
    padding-top: $padding-large-vertical * 7;
  }
}

main {
  padding-bottom: 100px;
  padding-top: 150px;
}

section { margin-bottom: 30px; }
.illustration-section { margin-bottom: 0; }
.green {
  background-color: #93bb16;
}

// pair with .row
.card-stacking {
  margin-right: 0;
  margin-left: 0;
  border-right: solid 1px $gray-light;
  border-bottom: solid 1px $gray-light;
  border-left: solid 1px $gray-light;
  &:first-of-type {
    margin-top: -10px;
  }
  .view-all-padding &:last-of-type {
    padding-bottom: $padding-large-vertical * 2;
  }
  h3 {
    margin-bottom: 0;
    font-size: $font-size-base;
    small {
      font-size: 85%;
      line-height: 1;
      margin-bottom: $padding-small-vertical;
    }
  }
}

.img-parent-fixed {
  width:100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 4px;
  &.img-thumbnail {
    @media (max-width: $screen-xs-max) {
      border: none;
      border-radius: 0;
    }
  }
  .img-ratio-sizer {
    padding-top: 58.824%;
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }
  .img-ratio-element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @media (max-width: $screen-xs-max) {
      position: static;
    }
  }
  img {
    position:absolute;
    top:50%;
    left:50%;
    max-width:100%;
    display:block;
    transform: translate(-50%, -50%);
    max-height:100%;
    @media (max-width: $screen-xs-max) {
      position: static;
      transform: none;
      max-height: 400px
    }
  }
}

.card-stacking {
  .card {
    padding-top: $padding-large-vertical * 2;
    padding-bottom: $padding-large-vertical * 2;
    &.image-card {
      @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
        padding-bottom: 0;
      }
    }
  }
  hr.visible-xs-block {
    display:none!important;
  }
}

.img-parent img {
  width: 100%;
  height: inherit;
}
.card-list {
  .card {
    margin-bottom: 20px;
    @media (max-width: $screen-sm) {
      margin-bottom: 0;
    }
  }
  hr.visible-xs-block {
    clear:both;
  }
}
.card-full-width {
  h3 {
    font-size: 1.5em;
  }
  font-size: 1.3em;
}

.small-headline h3 {
  font-size: 14px;
  small {
    font-size: 11.7px;
    line-height: $headings-line-height * 2;
  }
}

.img-thumbnail {
  padding: 0;
}

p.summary {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-height: $font-size-base * $release-line-height * 7; /* Fallback for non-webkit */
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  &.limited {
    max-height: $font-size-base * $release-line-height * 2; /* Fallback for non-webkit */
    -webkit-line-clamp: 2;
  }
}

// Loading Animation

@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.uil-ring-css {
  background: none;
  position: relative;
  width: 130px;
  height: 130px;
  margin: 0 auto;
}
.uil-ring-css > div {
  position: absolute;
  display: block;
  width: 130px;
  height: 130px;
  top: 20px;
  border-radius: 50%;
  box-shadow: 0 6px 0 0 #e4ae37;
  -ms-animation: uil-ring-anim 1s linear infinite;
  -moz-animation: uil-ring-anim 1s linear infinite;
  -webkit-animation: uil-ring-anim 1s linear infinite;
  -o-animation: uil-ring-anim 1s linear infinite;
  animation: uil-ring-anim 1s linear infinite;
}
