//
// Typography
// --------------------------------------------------


// Headings
// -------------------------

h1,
.h1 {
  font-family: $font-family-condensed;
  margin-top: 0;
  @include headline('h1');
  font-weight: 300;
  small {
    display: block;
    font-family: $font-family-sans-serif;
    font-size: 40%;
    line-height: 1.3em;
    padding-top: 5px;
    color: $gray;
    hyphens: manual;
    @media (max-width: $screen-xs-max) {
      font-size: $font-size-h3-xs;
    }
  }
  &.home {
    font-family: $font-family-sans-serif;
    font-size: ($font-size-base * 4.25);
    margin-top: 25px;
    line-height: 1.2;
    @media (max-width: $screen-sm) {
      font-size: ($font-size-base * 1.75);
    }
  }
}

h2,
.h2 {
  font-family: $font-family-condensed;
  font-weight: 300;
  @include headline('h2');
  small {
    display: block;
    color: $gray;
    @media (max-width: $screen-xs) {
      font-size: 65%;
    }
  }
  & + .sub {
    margin-top: ($padding-large-vertical * 1.5);
    margin-bottom: ($padding-large-vertical * 2);
    font-size: $font-size-h4;
    color: $gray-light;
  }
  .contact-us .tab-content & {
    margin-top: 0;
  }
}

h3,
.h3 {
  @include headline('h3');
  font-weight: 600;
}

h4,
.h4 {
  @include headline('h4');
  font-weight: normal;
}

h5,
.h5 {
  @include headline('h5');
}

h6,
.h6 {
  @include headline('h6');
}

h2, h3, h4, h5, h6 {
  a {
    color: $text-color;
    &:hover {
      color: $link-color;
    }
  }
  small {
    display: block;
    color: $gray;
  }
}

h3, h4, h5, h6 {
  font-family: $font-family-sans-serif;
}

// News
.masonry h3,
.news-releases h3 {
  @include headline('h4');
}

.card-stacking {
  h3 {
    margin-bottom: 0;
    font-size: $font-size-base;
    small {
      font-size: 85%;
      line-height: 1;
      margin-bottom: $padding-small-vertical;
    }
  }
}

.top-stories {
  h3 {
    @include headline('h6');
  }
  h4 {
    @include headline('h6');
    font-weight: 600;
  }
}

.featured-resources {
  h3 {
    @include headline('h6');
    margin: 0;
  }
}
.featured-solutions,
.read-more-explore {
  h3 {
    @include headline('h4');
  }
}

.solutions-for-you {
  h3 {
    margin-top: 0;
  }
}
.featured-sectors h4,
.trending-news h4 {
  @include headline('h6')
}

// Contact Us
.contact-us h4 {
  @include headline('h6');
}

.sub-head {
  font-size: $font-size-h5;
}

// Body text
// -------------------------

.word-break {
  @include word-wrap;
}

.word-break-all {
  word-break: break-all;
}

.news-releases main p a:not(.prnews_a) {
  @media (max-width: $screen-xs-max) {
    @include word-wrap;
  }
}

article {
  header {
    p {
      &.subtitle {
        font-size: 18px;
        line-height: 1.2;
      }
    }
  }
  &.news-release {
    h3, h4 {
      font-family: $font-family-sans-serif;
    }
    &.static-gallery-template,
    &.carousel-template,
    &.inline-gallery-template {
      blockquote {
        border-left: 3px solid $gray-lighter;
        font-size: inherit;
        p {
          color: #777;
          font-size: 1.4em;
          font-weight: 500;
          line-height: 1.4;
          font-style: italic;
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (min-width: $screen-md-min) {
  .release-header,
  .just-read {
    h1 {
      font-size: 40px;
    }
  }
}

p.release-details {
  font-size: 18px;
  .just-read & {
    font-size: $font-size-base;
    margin-top: ($padding-small-vertical * 1.4);
  }
}

// Links
a.latest-topic,
a.news-release,
a.resource {
  color: $link-color-release;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color-release;
    text-decoration: $link-hover-decoration;
  }

  &:hover p {
    color: $link-color-release;
  }

  &:focus {
    @include tab-focus;
  }
}

// see more release categories

.list-inline.inline-links {
  margin-left:0;
  padding-left:8px;
  li {
    border-left: 1px solid #000;
    &:first-child {
      border: none;
    }
  }
}

.release-body {
  p,
  ol li:not(.prnews_li),
  ul li:not(.prnews_li) {
    font-size: $font-size-medium;
    line-height: 1.8;
  }
  p,
  ol,
  ul {
    margin-bottom: 35px;
  }
  table p {
    margin-bottom: 0;
    line-height: $release-line-height;
    font-size: $font-size-base;
  }
}

.continue-reading {
  a {
    font-size: 12px;
    i {
      font-size: 2em;
      color: $gray-lighter;
    }
    &:hover i,
    &:focus i {
      color: $link-color;
    }
  }
}
p#continue-jump:before {
  display: block;
  height: 80px;
  margin-top: -80px;
  content: " ";
  visibility: hidden;
}

.section-header {
  position: relative;
  border-bottom: solid 5px $gray-lighter;
  @media (max-width: $screen-sm) {
    border-width: 4px;
  }
  font-weight: 300;
  a {
    i {
      font-size: .6em;
    }
  }
  a:hover,
  a:focus {
    color: $link-color;
    text-decoration: none;
  }
  small {
    font-family: $font-family-sans-serif;
    font-size: 55%;
    color: $gray-dark;
    margin-top: -($padding-small-vertical);
    margin-bottom: $padding-small-vertical;
  }
  & + .sub {
    margin-top: 0px;
  }
  .read-more-explore & {
    margin-bottom: ($padding-large-vertical * 1.7);
  }
}

.panel-header {
  font-family: $font-family-sans-serif;
}

.pdp-case-studies,
.solutions-page-desc {
  h2 {
    font-family: $font-family-condensed;
    small {
      font-family: $font-family-sans-serif;
      margin-top: 20px;
      line-height: $line-height-base;
    }
  }
}

.pdp-features h3 {
  @include headline('h2');
  font-family: $font-family-condensed;
  font-weight: normal;
  margin-top: 0;
}

@media (min-width: $screen-sm) {
  .hero-release {
    h3 {
      line-height: $headings-line-height;
      small {
        line-height: ceil($headings-line-height * 1.65);
      }
    }
    p {
      font-size: 120%;
      padding-bottom: $padding-large-vertical * 1.5;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .hero-release {
    h3 {
      line-height: $line-height-base;

      small {
        line-height: $line-height-base;
      }
    }
  }
}

.card,
.abstract {
  h3, h4 {
    margin-top: 0;
  }
  small { line-height: $line-height-base; }
}

.card p,
p.abstract {
  font-size: $abstract-font-size;
  line-height: $abstract-line-height;
  color: $abstract-color;
}

h3 small,
h4 small,
h5 small,
h6 small,
.meta {
  margin-bottom: 0;
  font-size: $meta-font-size;
  line-height: $meta-line-height;
  color: $meta-color;
  text-transform: uppercase;
  a {
    color: $meta-color;
    text-decoration: underline;
    &:hover,
    &:focus {
      color: $link-color;
    }
  }
}

.text-case-reset {
  text-transform: none;
}

.latest-topics-list {
  h3 {
    font-size: 24px;
  }
}

.overlay {
  h3, p {
    color: #fff;
  }
  h3 {
    @include headline('h4');
  }
  h4 {
    @include headline('h5')
  }
}

// Text color

@include text-emphasis-variant('.text-brand-secondary', $state-brand-secondary);

@include text-emphasis-variant('.text-brand-secondary-lighter', $state-brand-secondary-lighter);

@include text-emphasis-variant('.text-brand-action', $state-brand-action);

@include text-emphasis-variant('.text-brand-alternative', $state-brand-alternative);

@include text-emphasis-variant('.text-brand-accentbrand-accent', $state-brand-accent);

// Contextual backgrounds
.bg-brand-secondary {
  // Given the contrast here, this is the only class to have its color inverted
  // automatically.
  color: #fff;
}
@include bg-variant('.bg-brand-secondary', $state-brand-secondary);

@include bg-variant('.bg-brand-secondary-lighter', $state-brand-secondary-lighter);

@include bg-variant('.bg-brand-action', $state-brand-action);

@include bg-variant('.bg-brand-alternative', $state-brand-alternative);

@include bg-variant('.bg-brand-accent', $state-brand-accent);


// Search
.search-criteria span {
  font-weight: bold;
}