<div class="row users index">
  <div class="col-sm-6">
    <h2>Users</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.first_name, user %></td>
          <td><%= link_to user.last_name, user %></td>
          <td><%= link_to user.email, user %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>