<div class="row">
  <div class="col-sm-6">
    <h2><%= @user.email %></h2>
    <dl class="">
      <dt>First name:</dt>
      <dd><%= @user.first_name %></dd>
      <dt>Last name:</dt>
      <dd><%= @user.last_name %></dd>
      <dt>Created:</dt>
      <dd><%= @user.created_at %></dd>
    </dl>
  </div>
</div>