<div class="row">
  <div class="col-sm-6">
  <h2>Media Points</h2>
    <ol>
    <% @media_points.each do |mp| %>
      <li><%= link_to mp.name, mp %> / <%= link_to 'Edit', edit_media_point_path(mp) %></li>
    <% end %>
    </ol>

    <p><%= link_to 'New Media Point', new_media_point_path %></p>
  </div>
</div>
