<div class="row multimedia index">
  <div class="col-sm-8">
    <h2 class="section-header">Multimedia <% if current_user.admin %><%= link_to 'New Multimedium', new_multimedium_path, { :class => "btn btn-sm btn-link pull-right" } %><% end %></h2>
    <table class="table table-striped">
      <tbody>
        <% @multimedia.each do |multi| %>
        <tr>
          <td><%= link_to multi.media_type, multi%></td>
          <td><% if current_user.admin %><%= link_to 'Edit', edit_multimedium_path(multi) %><% end %></td>
          <td><% if current_user.admin %><%= link_to 'Delete', multimedium_path(multi), method: :delete, data: { confirm: "Are you sure? This con not be undone."} %><% end %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
