<div class="row">
  <div class="col-sm-6">
    <p>In order for your message to create the greatest possible impact, it must reach the right people at the right time, in the right place, in the way they want to receive it. That’s why PR Newswire has developed the most creative and extensive news distribution network in the business.</p>
    <p>PR Newswire’s U.S. Newslines deliver comprehensive reach to journalists, niche media, bloggers and online audiences, and include search engine optimization (“SEO”) at no additional charge.  For public companies, SEC-mandated disclosure is built into distribution, along distribution to the Street via the Investors Research Wire.</p>
    <ul>
      <li>World's largest distribution network</li>
      <li>10,000+ US news outlets</li>
      <li>49,000 international distribution points</li>
      <li>Translation services in more than 40 languages</li>
      <li>Broadcast online and social media distribution</li>
      <li>Target based on geography, interest, job role, and more</li>
      <li>Meet financial disclosure and compliance requirements</li>
    </ul>
  </div>
  <div class="col-sm-2">
    <%= link_to 'View All Products', products_path, { :class=>"btn btn-default" } %>
  </div>
  <div class="col-sm-2">
    <%= link_to 'View All Recipients', media_points_path, { :class=>"btn btn-default" } %>
  </div>
</div>

