<h1 class="mt-lg">PR Newswire U.S. Distribution</h1>

<div class="row home">
  <div class="col-sm-8">
    <p class="lead">In order for your message to create the greatest possible impact, it must reach the right people at the right time, in the right place, in the way they want to receive it. That’s why PR Newswire has developed the most creative and extensive news distribution network in the business.</p>
    <p class="lead">PR Newswire’s U.S. newslines deliver comprehensive reach to journalists, investors, consumers, bloggers, niche media, and more, via direct-to-newsroom delivery, online and mobile app syndication, email, and B2B distribution.</p>
  </div>
</div>

