<div class="row">
  <div class="col-sm-4">
    <%= link_to 'View All Products', products_path, { :class=>"btn btn-default" } %>
  </div>
  <div class="col-sm-4">
    <%= link_to 'View All Media Points', media_points_path, { :class=>"btn btn-default" } %>
  </div>
</div>