<div class="row industry edit">
  <div class="col-sm-6">
    <h2 class="section-header"><span class="text-muted fw-normal">Edit</span> <%= @industry.industry_name %></h2>
    <%= render 'form' %>
  </div>
</div>