<div class="row industries index">
  <div class="col-sm-8">
    <h2 class="section-header">Industries <% if current_user.admin %><%= link_to 'New Industry', new_industry_path, { :class => "btn btn-sm btn-link pull-right" } %><% end %></h2>
    <ol>
      <% @industries.each do |ind| %>
      <li><%= link_to ind.industry_name , ind%>
        <% if current_user.admin %>
        / <%= link_to 'Edit', edit_industry_path(ind) %>
        / <%= link_to 'Delete', industry_path(ind), method: :delete, data: { confirm: "Are you sure? This con not be undone."} %>
        <% end %>

        </li>
      <% end %>
    </ol>
  </div>
</div>