<div class="row tickers index">
  <div class="col-sm-8">
    <h2 class="section-header">Tickers <%= link_to 'New Ticker', new_ticker_path, { :class => "btn btn-sm btn-link pull-right" } %></h2>
    <table class="table table-hover table-condensed">
      <tbody>
        <% @tickers.each do |tick| %>
        <tr>
          <td><%= link_to tick.ticker_type , tick%></td>
          <td><%= link_to 'Edit', edit_ticker_path(tick) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>