<div class="row subject edit">
  <div class="col-sm-6">
    <h2 class="section-header"><span class="text-muted fw-normal">Edit</span> <%= @subject.subject_name %></h2>
    <%= render 'form' %>
  </div>
</div>