/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*

*= require chosen-compass
*= require tree
*= require sortable_tree
*= require nested_options
*= require industries
*= require froala_editor.min.css
*= require froala_style.min.css
*= require plugins/code_view.min.css
*= require font-awesome
*/


@import 'bootstrap-sprockets';
@import 'custom/variables';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'bootstrap-chosen-variables';
@import 'bootstrap-chosen';
@import 'jquery.mmenu.all';

@import 'prn-fonts';
@import 'black-tie';

@import 'custom';



@media (min-width: $screen-sm) {

  main {
    min-height: 1200px;
    padding-bottom: 100px;
  }

  .index ol { padding-left: 0; }
}

.nav-main {
  background-color: $white;
}

.home ul {
  font-size: floor(($font-size-base * 1.15));
}

.recipient {
  .dl-horizontal {
    @media (min-width: $grid-float-breakpoint) {
      dt {
        width: (60px);
      }
      dd {
        margin-left: 80px;
      }
    }
  }
}

td i {
  margin-right: 10px;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  font-size: 5em;
  color: $brand-action;
}

main {
  position: relative;
}

.faded {
  @include opacity(.4);
}

.filters ul {
  padding-left: 16px;
  list-style: none;
  ul {
    padding-left: 10px;
  }
}

dd > p:first-child {
  margin-bottom: 0;
}
