<div class="row categories index">
  <div class="col-sm-8">
    <h2 class="section-header">Categories <% if current_user.admin %><%= link_to 'New Category', new_category_path, { :class => "btn btn-sm btn-link pull-right" } %><% end %></h2>
    <table class="table table-striped">
      <tbody>
        <% @categories.each do |cat| %>
        <tr>
          <td><%= link_to cat.name , cat%> <% if current_user.admin %><span class="badge"><%= cat.recipients.size %></span><% end %></td>
          <td><% if current_user.admin %><%= link_to 'Edit', edit_category_path(cat) %><% end %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>