<div class="row categories index">
  <div class="col-sm-8">
    <h2 class="section-header">Categories <%= link_to 'New Category', new_category_path, { :class => "btn btn-sm btn-link pull-right" } %></h2>
    <table class="table table-hover table-condensed">
      <tbody>
        <% @categories.each do |cat| %>
        <tr>
          <td><%= link_to cat.name , cat%></td>
          <td><%= link_to 'Edit', edit_category_path(cat) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>