<footer id="js-footer">
  <section class="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul>
            <li><a href="http://www.prnewswire.com/terms-of-use-apply.html" target="_blank" title="Terms of Use">Terms of Use</a></li>
            <li><a href="http://www.prnewswire.com/privacy-policy.html" target="_blank" title="Privacy Policy">Privacy Policy</a></li>
          </ul>
          <span class="pull-right">Copyright © 2016 PR Newswire Association LLC. All Rights Reserved. A Cision company.</span>
        </div>
      </div>
    </div>
  </section>
</footer>