<footer id="js-footer">
  <section class="main-footer">
    <div class="container">
    <div class="row">
      <div class="col-sm-3 col-xs-3">
        <ul>
          <li><a href="#" title="#">Contact</a></li>
          <li class="margin-bottom-sm">
            <i class="fa fa-mobile fa-lg hidden-xs"></i> <span class="hidden-xs">800-776-8090</span><a href="tel:800-776-8090" title="#" class="visible-xs call-mobile"><i class="fa fa-mobile fa-lg"></i> 800-776-8090</a><br class="hidden-xs"> from 8 AM - 5 PM EST
          </li>
          <li><a title="#" href="#">Editorial Bureaus</a></li>
          <li><a title="#" href="#">Get a Quote</a></li>
          <li class="margin-bottom-sm"><a title="#" href="#">Chat Online</a></li>
          <li><a title="#" href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-3">
        <ul>
          <li><a href="#" title="#">Solutions</a></li>
          <li><a title="#" href="#">For Marketers</a></li>
          <li><a title="#" href="#">For PR Professionals</a></li>
          <li><a title="#" href="#">For Investors</a></li>
          <li><a title="#" href="#">For Agency</a></li>
          <li><a title="#" href="#">For Small Business</a></li>
          <li><a title="#" href="#">All Products</a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-2">
        <ul>
          <li><a href="#" title="#">About</a></li>
          <li><a title="#" href="#">About PR Newswire</a></li>
          <li><a title="#" href="#">Our Partners</a></li>
          <li><a title="#" href="#">Become a Partner</a></li>
          <li><a title="#" href="#">News</a></li>
          <li class="dropup">
            <a href="" title="" class="dropdown-toggle global-sites" data-toggle="dropdown">Global Sites <i class="fa fa-chevron-up"></i></a>
            <ul class="dropdown-menu">
              <li><a title="#" href="#" rel="nofollow">United Kingdom</a></li>
              <li><a title="#" href="#" rel="nofollow">Sweden</a></li>
              <li><a title="#" href="#" rel="nofollow">Netherlands</a></li>
              <li><a title="#" href="#" rel="nofollow">Middle East</a></li>
              <li><a title="#" href="#" rel="nofollow">Mexico</a></li>
              <li><a title="#" href="#" rel="nofollow">Malaysia</a></li>
              <li><a title="#" href="#" rel="nofollow">Israel</a></li>
              <li><a title="#" href="#" rel="nofollow">India</a></li>
              <li><a title="#" href="#" rel="nofollow">France</a></li>
              <li><a title="#" href="#" rel="nofollow">Finland</a></li>
              <li><a title="#" href="#" rel="nofollow">Europe</a></li>
              <li><a title="#" href="#" rel="nofollow">Canada</a></li>
              <li><a title="#" href="#" rel="nofollow">Brazil</a></li>
              <li><a title="#" href="#" rel="nofollow">Asia</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-sm-3 hidden-xs">
        <ul>
          <li>My Services</li>
          <li><a title="#" href="#">Online Member Center</a></li>
          <li><a title="#" href="#">Agility</a></li>
          <li><a title="#" href="#">Media Monitoring</a></li>
          <li><a title="#" href="#">ProfNet</a></li>
          <li><a title="#" href="#">For Bloggers</a></li>
        </ul>
      </div>
      <div class="col-xs-4 visible-xs dropup">
        <a href="" title="" class="dropdown-toggle mobile-my-services" data-toggle="dropdown">My Services <i class="fa fa-chevron-up"></i></a>
        <ul class="dropdown-menu">
          <li><a title="#" href="#" rel="nofollow">Online Member Center</a></li>
          <li><a title="#" href="#" rel="nofollow">Agility</a></li>
          <li><a title="#" href="#" rel="nofollow">Media Monitoring</a></li>
          <li><a title="#" href="#" rel="nofollow">ProfNet</a></li>
          <li><a title="#" href="#" rel="nofollow">For Journalists</a></li>
          <li><a title="#" href="#" rel="nofollow">For Bloggers</a></li>
        </ul>
      </div>
    </div>
  </div>
  </section>
  <section class="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul>
            <li><a href="#" title="#">Terms of Use</a></li>
            <li><a href="#" title="#">Privacy Policy</a></li>
            <li><a href="#" title="#">Site Map</a></li>
            <li><a href="#" title="#">RSS Feeds</a></li>
          </ul>
          <span class="pull-right">Copyright © 2015 PR Newswire Association LLC. All Rights Reserved. A UBM plc company.</span>
        </div>
      </div>
    </div>
  </section>
</footer>