<div class="container">
  <nav class=" navbar-sub hidden-xs">
    <div class="" id="">
      <ul class="nav nav-pills">
        <li role="presentation"><%= link_to 'View All Products', products_path %></li>
        <li role="presentation"><%= link_to 'View All Recipients', recipients_path %></li>
      </ul>
    </div><!-- /.tabs -->
  </nav>
</div> <!-- .container -->