<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">

          <img src="<%= image_path('logo_prn_trans.png') %>" class="img-responsive" alt="PR Newswire">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="" id="">
        <ul class="nav navbar-nav">
          <li><a href="http://www.prnewswire.com/" target="_blank">News</a></li>
          <li><a href="http://www.prnewswire.com/solutions/overview/" target="_blank">Solutions</a></li>
          <li><a href="http://www.prnewswire.com/knowledge-center/" target="_blank">Resources</a></li>
        </ul>
        <!-- <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Search</a></li>
          <li><a href="#" title=""><i class="fa fa-search fa-lg text-muted"></i></a></li>
        </ul> -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

</div><!-- .container -->