<div class="container">
  <nav class="navbar navbar-junior hidden-xs">
    <div class="" id="">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li>
          <%= link_to("Hello #{current_user.first_name}", user_path(current_user)) %>
        </li>
        <li class="bg-brand-secondary">
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
        </li>
        <% else %>
        <li class="bg-brand-secondary">
          <%= link_to('Login', new_user_session_path)  %>
        </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
</div> <!-- .container -->