<%= search_form_for @search do |f| %>
<div class="panel-group filters" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="recipientName">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseRecipientName" aria-expanded="true" aria-controls="collapseRecipientName">
          <i class="btb bt-angle-down bt-sm"></i> Recipient Name
        </a>
      </h4>
    </div>
    <div id="collapseRecipientName" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="recipientName">
      <div class="panel-body">
        <div class="form-group">
          <%= f.label :recipient_name_or_alternate_name_cont, "Recipient Name" %>
          <%= f.text_field :recipient_name_or_alternate_name_cont, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="industries">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseIndustries" aria-expanded="false" aria-controls="collapseIndustries">
          <i class="btb bt-angle-right bt-sm"></i> Industries
        </a>
      </h4>
    </div>
    <div id="collapseIndustries" class="panel-collapse collapse" role="tabpanel" aria-labelledby="industries">
      <div class="panel-body">

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="subjects">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSubjects" aria-expanded="false" aria-controls="collapseSubjects">
          <i class="btb bt-angle-right bt-sm"></i> Subjects
        </a>
      </h4>
    </div>
    <div id="collapseSubjects" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subjects">
      <div class="panel-body">

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="categories">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCategories" aria-expanded="false" aria-controls="collapseCategories">
          <i class="btb bt-angle-right bt-sm"></i> Categories
        </a>
      </h4>
    </div>
    <div id="collapseCategories" class="panel-collapse collapse" role="tabpanel" aria-labelledby="categories">
      <div class="panel-body">

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="multimedia">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseMultimedia" aria-expanded="false" aria-controls="collapseMultimedia">
          <i class="btb bt-angle-right bt-sm"></i> Multimedia
        </a>
      </h4>
    </div>
    <div id="collapseMultimedia" class="panel-collapse collapse" role="tabpanel" aria-labelledby="multimedia">
      <div class="panel-body">

      </div>
    </div>
  </div>
</div>
<%= f.submit "Search", class: "btn btn-default" %>
<% end %>