<p>Hello <%= @resource.first_name %>!</p>

<p>A request has been made to reset your password for the PRN Distribution Application. If you made this request, please click the link below and follow the instructions to change your password.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you did not make this request, please disregard this email and your password will not change.</p>
